<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Library</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/body.css">
</head>

    <%-header%>

    <body>
        <div id="title-image">
            <div id="title-div">
                <p id="title">Books</p>
                <p id="title2">Acquire Knowledge and become a better person by reading our books for an affordable price. 
                    Books allow you to access new worlds and open your mind to different manners of thinking. 
                    Check out our books to participate in it </p>
            </div>
            <p id="image"></p>
        </div>

        <div id="books">

            <div id="serch-bar-div">
                <p id="serch-bar-div-title">Filter by words</p>
                <form action="./resultSearch" method="post" id="search-bar-form">    
                    <input type="text" id="serch-bar-div-id" name="msg"><br>
                </form>

            </div>

            <div id="books-body">
                <%inputs.forEach(book => {%>
                    <a href=<%=`./books/${book._id}`%>>    
                    <div class="book-div">
                        <p id="book-name" class="book-feature">Name: <%= book.name%></p>
                        <p id="book-author" class="book-feature">author: <%= book.author%></p>
                        <p id="book-edition" class="book-feature">edition: <%= book.edition%></p>
                        <p id="book-price" class="book-feature">price: <%= book.price%></p>
                    </div>
                    </a>
                <%})%>
            </div>
        
        </div>
    </body>
    <script>

        //Creating a filter Bar. The book names that contain the typed letters in the Search Bar will be hidden.
        var searchBar = document.getElementById('serch-bar-div-id');

        searchBar.addEventListener("input", e=>{
            var inputText = e.target.value;
            var bookExist = [];
            var bookDivs = document.getElementsByClassName('book-div');

            if(inputText && inputText.length>0){
                
                for(let i=0;i<bookDivs.length;i++){
                    var inputName =  bookDivs[i].firstElementChild.textContent; 
                    var bookName = inputName.split(":",2);

                    if(bookName[1].indexOf(inputText)===-1){
                        bookDivs[i].parentNode.hidden = true;
                    }else{
                        bookDivs[i].parentNode.hidden = false;
                    }
                }
                
            }else{
                if(inputText.length===0){
                    for(let i=0;i<bookDivs.length;i++){
                        bookDivs[i].parentNode.hidden = false;
                    }
                }
            }
        })
    </script>
    <%-footer%>

</html>