<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/body.css">
</head>


<%-header%>

<body>
    <div id="sellsData">
        <div class="class-data">    
            <p id="money" class="data">Todo dinheiro adquirido com as vendas: <%=money%></p>
        </div>
        <div class="class-data">    
            <p id="qtd" class="data">Quantidade de vendas totais: <%=qtd%></p>
        </div>
        <div class="class-data">
            <p id="name" class="data">Nome do livro mais lucrativo: <%=name%></p>    
        </div>
        <div class="class-data">
            <p id="product"class="data">Quanto dinheiro esse trouxe: <%=bestProdut%></p>
        </div>
    </div>
</body>

<%-footer%>
</html>